body {
    background-color: aqua;
}

.container {
    display: grid;
    height: 700px;
    width: 800px;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

h1 {
    text-align: center;
}

.choice {
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 10%;
    padding-top: 25px;
}

#reset, #randColor, #origColor, #resize{
    height: 50px;
    width: 130px;
    display: block;
}